*
{
    padding: 0;
    margin: 0;
}
html
{
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-content: center;
}
body
{
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 50%;
    margin: auto;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.divider:nth-child(1)
{
    border-top: 2px solid grey;
}
/* For Symbols */

#symbols
{
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
}

#symbols img
{
    width: 30px;
    height: 30px;
}

#symbols p
{
    text-align: center;
}

#symbols h3
{
    text-align: center;
}

/* For Colors */

#colors
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid grey;
}

#colors div
{
    width: 20px;
    height: 20px;
}

#colors div#pink
{
    background: rgb(255,0,255);
    transition: 0.5s linear;
}

#colors div#green
{
    background: green;
    transition: 0.5s linear;
}

#colors div#white
{
    background: white;
}

/* For difficulty */

#difficulty
{
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
}

#difficulty div
{
    border-radius: 5%;
}

/* For First turn */

.ft
{
    font-size: 16px;
    border-bottom: 2px solid grey;
}

#pc
{
    transition: 0.5s linear;
}

#_1p1
{
    transition: 0.5s linear;
}

#_1p2
{
    transition: 0.5s linear;
}

#_2p2
{
    transition: 0.5s linear;
}
